.contacts
    a.contact(href='tel:+76337318')
        i.fa.fa-mobile.contact__icon(aria-hidden="true")
        span.contact__text +7-633-73-18
    a.contact(href="mailto:info@info.ru")
        i.fa.fa-envelope.contact__icon.contact__icon--email(aria-hidden="true")
        span.contact__text info@info.ru
    a.facebook-icon(href="face-book")
        i.fa.fa-facebook(aria-hidden="true")