$button_red_col: #de2b24;
$button_yellow_col: #f8cd53;
$text_col: #fff;

.button {
  display: inline-block;
  border-radius: 3px;
  padding: 10px 22px 7px;
  text-decoration: none;
  color: $text_col;
  transition: 0.2s;

  &--red {
    background: $button_red_col;
    &:hover {
    background: darken($button_red_col, 3%) ;
    }
  }

  &--yellow {
    background: $button_yellow_col;
    &:hover {
      background: darken($button_yellow_col, 3%) ;
    }
  }

  &--text-uppercase{
    text-transform: uppercase;

  }

}
